pyefd==1.6.0
# gym 0.21 needs these
setuptools==65.5.0
wheel==0.38.4
# end
gym==0.21.0
numpy==1.24.2
opencv-python==4.5.*
mouse==0.7.1
keyboard==0.13.5
torch==1.12.1
pypiwin32==223
pywin32==306
timm==0.4.12
boto3==1.26.*
tqdm==4.62.3